{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/materialize.css' %}"  media="screen,projection"/>
       {% block style %}
       {% endblock %}
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}Test site{% endblock %}</title>


    </head>
    <body>

        <main>
            {% block nav %}
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="{% url 'website:index' %}" class="brand-logo left" style="margin-left: 20px">VeryGoodApp</a>
                    <ul id="nav-mobile" class="right hide-on-med-down">
                        <li ><a href="{% url 'website:index' %}" >Home</a></li>
                        <li><a href="{% url 'website:page1' %}">Page 1</a></li>
                        <li><a href="{% url 'website:page2' %}">Page 2</a></li>
                        <li><a href="{% url 'website:map' %}">Map</a></li>
                        
                    </ul>
                </div>
                
            </nav>
            
            {% endblock %}


            {% block content %} 

            {% endblock %}
        </main>

        <script type="text/javascript" src="{% static 'website/js/materialize.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>  
        M.AutoInit();
        </script>
        {% block javascript %}
        {% endblock %}
      
    </body>
</html>