{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--  <link type="text/css" rel="stylesheet" href="{% static 'website/css/materialize.css' %}"  media="screen,projection"/>-->

       
        <title>SBB Bicycle Reservations</title>


    </head>
    <body>

        <header>
            <nav>
                <div style="float: left; background-color: white; padding: 10px"><img src="{% static 'website/images/sbblogo.svg' %}" ></div>
                <a class="active" href="#home">Home</a>
                <a href="#solution">Our Solution</a>
                <a href="#why">Why it matters</a>
                <a href="#about">About</a>

            </nav>

        </header>

        <section id="home"> 
            <div class="container">
                <form action="/" method="post" accept-charset="UTF-8">
                    {% csrf_token %}
                    <label for="start">Start</label>
                  <select id="start" name="start" >
                    <option value="" disabled selected>Select the start location</option>
                    <option value="Aarau">Aarau</option>
                    <option value="Amriswil">Amriswil</option>
                    <option value="Arth-Goldau">Arth-Goldau</option>
                    <option value="Basel SBB">Basel SBB</option>
                    <option value="Bellinzona">Bellinzona</option>
                    <option value="Bern">Bern</option>
                    <option value="Biasca">Biasca</option>
                    <option value="Biel/Bienne">Biel/Bienne</option>
                    <option value="Brig">Brig</option>
                    <option value="Chiasso">Chiasso</option>
                    <option value="Chur">Chur</option>
                    <option value="Delémont">Delémont</option>
                    <option value="Flawil">Flawil</option>
                    <option value="Flüelen">Flüelen</option>
                    <option value="Frauenfeld">Frauenfeld</option>
                    <option value="Fribourg/Freiburg">Fribourg/Freiburg</option>
                    <option value="Frutigen">Frutigen</option>
                    <option value="Genève">Genève</option>
                    <option value="Genève-Aéroport">Genève-Aéroport</option>
                    <option value="Gossau SG">Gossau SG</option>
                    <option value="Grenchen Nord">Grenchen Nord</option>
                    <option value="Grenchen Süd">Grenchen Süd</option>
                    <option value="Interlaken Ost">Interlaken Ost</option>
                    <option value="Landquart">Landquart</option>
                    <option value="Laufen">Laufen</option>
                    <option value="Lausanne">Lausanne</option>
                    <option value="Lenzburg">Lenzburg</option>
                    <option value="Liestal">Liestal</option>
                    <option value="Locarno">Locarno</option>
                    <option value="Lugano">Lugano</option>
                    <option value="Luzern">Luzern</option>
                    <option value="Mendrisio">Mendrisio</option>
                    <option value="Morges">Morges</option>
                    <option value="Moutier">Moutier</option>
                    <option value="Münsingen">Münsingen</option>
                    <option value="Neuchâtel">Neuchâtel</option>
                    <option value="Nyon">Nyon</option>
                    <option value="Oensingen">Oensingen</option>
                    <option value="Olten">Olten</option>
                    <option value="Romanshorn">Romanshorn</option>
                    <option value="Sargans">Sargans</option>
                    <option value="Sissach">Sissach</option>
                    <option value="Solothurn">Solothurn</option>
                    <option value="Spiez">Spiez</option>
                    <option value="St. Gallen">St. Gallen</option>
                    <option value="Thun">Thun</option>
                    <option value="Uzwil">Uzwil</option>
                    <option value="Visp">Visp</option>
                    <option value="Weinfelden">Weinfelden</option>
                    <option value="Wil SG">Wil SG</option>
                    <option value="Winterthur">Winterthur</option>
                    <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
                    <option value="Zug">Zug</option>
                    <option value="Zürich Flughafen">Zürich Flughafen</option>
                    <option value="Zürich HB">Zürich HB</option>
                    <option value="Zürich Oerlikon">Zürich Oerlikon</option>
                  </select>
                  <label for="dest">Destination</label>
                  <select id="dest" name="dest" >
                    <option value="" disabled selected>Select your target destination</option>
                    <option value="Aarau">Aarau</option>
                    <option value="Amriswil">Amriswil</option>
                    <option value="Arth-Goldau">Arth-Goldau</option>
                    <option value="Basel SBB">Basel SBB</option>
                    <option value="Bellinzona">Bellinzona</option>
                    <option value="Bern">Bern</option>
                    <option value="Biasca">Biasca</option>
                    <option value="Biel/Bienne">Biel/Bienne</option>
                    <option value="Brig">Brig</option>
                    <option value="Chiasso">Chiasso</option>
                    <option value="Chur">Chur</option>
                    <option value="Delémont">Delémont</option>
                    <option value="Flawil">Flawil</option>
                    <option value="Flüelen">Flüelen</option>
                    <option value="Frauenfeld">Frauenfeld</option>
                    <option value="Fribourg/Freiburg">Fribourg/Freiburg</option>
                    <option value="Frutigen">Frutigen</option>
                    <option value="Genève">Genève</option>
                    <option value="Genève-Aéroport">Genève-Aéroport</option>
                    <option value="Gossau SG">Gossau SG</option>
                    <option value="Grenchen Nord">Grenchen Nord</option>
                    <option value="Grenchen Süd">Grenchen Süd</option>
                    <option value="Interlaken Ost">Interlaken Ost</option>
                    <option value="Landquart">Landquart</option>
                    <option value="Laufen">Laufen</option>
                    <option value="Lausanne">Lausanne</option>
                    <option value="Lenzburg">Lenzburg</option>
                    <option value="Liestal">Liestal</option>
                    <option value="Locarno">Locarno</option>
                    <option value="Lugano">Lugano</option>
                    <option value="Luzern">Luzern</option>
                    <option value="Mendrisio">Mendrisio</option>
                    <option value="Morges">Morges</option>
                    <option value="Moutier">Moutier</option>
                    <option value="Münsingen">Münsingen</option>
                    <option value="Neuchâtel">Neuchâtel</option>
                    <option value="Nyon">Nyon</option>
                    <option value="Oensingen">Oensingen</option>
                    <option value="Olten">Olten</option>
                    <option value="Romanshorn">Romanshorn</option>
                    <option value="Sargans">Sargans</option>
                    <option value="Sissach">Sissach</option>
                    <option value="Solothurn">Solothurn</option>
                    <option value="Spiez">Spiez</option>
                    <option value="St. Gallen">St. Gallen</option>
                    <option value="Thun">Thun</option>
                    <option value="Uzwil">Uzwil</option>
                    <option value="Visp">Visp</option>
                    <option value="Weinfelden">Weinfelden</option>
                    <option value="Wil SG">Wil SG</option>
                    <option value="Winterthur">Winterthur</option>
                    <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
                    <option value="Zug">Zug</option>
                    <option value="Zürich Flughafen">Zürich Flughafen</option>
                    <option value="Zürich HB">Zürich HB</option>
                    <option value="Zürich Oerlikon">Zürich Oerlikon</option>
                  </select>
              
                  <label for="date">Travel Date</label>
                  <input type="date" id="date" name="date" >
                  <label for="time">Start Time</label>
                  <input type="time" id="time" name="time" value="00:00">
                
                  <input type="submit" id="submit" value="Submit" />
                </form>
                </div>
                {% if get_results %}
                <div class="results">RESULTS!</div>
                {% endif %}
        </section>

        <section id="solution"> <div style="position: absolute; height: 60%; width: 30%; margin-top: 10%" class="trapezoid">
           <div style="position: absolute; display: block; top: 25%; left: -600%; color: white; width: 600%;">
            A data-driven solution for better bicycle reservations.
           </div> 
    </div> 
</section>


        <section id="why"> Why it matters </section>

        <section id="about"> About </section>




        <script>


let section = document.querySelectorAll('section');
let navLinks = document.querySelectorAll('header nav a');
window.onscroll = () => {
    section.forEach(sec => {
        let top = window.scrollY;
        let offset = sec.offsetTop;
        let height = sec.offsetHeight;
        let id = sec.getAttribute('id');

        if(top >= offset && top < offset + height) {
        navLinks.forEach(links => {
            links.classList.remove('active');
            document.querySelector('header nav a[href*=' + id + ']').classList.add('active');
        });
    };
    });
};

        </script>

    </body>
        
     <!--   <script type="text/javascript" src="{% static 'website/js/materialize.js' %}"></script>
    cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js
-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>

      
</html>