{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--  <link type="text/css" rel="stylesheet" href="{% static 'website/css/materialize.css' %}"  media="screen,projection"/>-->

       

        <title>SBB Bicycle Reservations</title>


    </head>
    <body>

        <header>
            <nav>
                <div style="float: left; background-color: white; padding: 10px"><img src="{% static 'website/images/sbblogo.svg' %}" ></div>
                <a class="active" href="#home">Home</a>
                <a href="#solution">Our Solution</a>
                <a href="#why">Why it matters</a>
                <a href="#about">About</a>

            </nav>

        </header>

        <section id="home"> 
            <div class="container">
                <form action="/" method="post">
                    {% csrf_token %}
                    <label for="start">Start</label>
                  <input type="text" id="start" name="start" placeholder="Enter your start location here..">
              
                  <label for="dest">Destination</label>
                  <input type="text" id="dest" name="dest" placeholder="Enter your destination here..">
              
                  <label for="date">Travel Date</label>
                  <input type="date" id="date" name="date" >
                  <label for="time">Start Time</label>
                  <input type="time" id="time" name="time" value="00:00">
                
                  <input type="submit" id="submit" value="Submit" />
                </form>
                </div>
                {% if get_results %}
                <div class="results">RESULTS!</div>
                {% endif %}
        </section>

        <section id="solution"> <div style="position: absolute; height: 60%; width: 30%; margin-top: 10%" class="trapezoid">
           <div style="position: absolute; display: block; top: 25%; left: -600%; color: white; width: 600%;">
            A data-driven solution for better bicycle reservations.
           </div> 
    </div> 
</section>


        <section id="why"> Why it matters </section>

        <section id="about"> About </section>




        <script>


let section = document.querySelectorAll('section');
let navLinks = document.querySelectorAll('header nav a');
window.onscroll = () => {
    section.forEach(sec => {
        let top = window.scrollY;
        let offset = sec.offsetTop;
        let height = sec.offsetHeight;
        let id = sec.getAttribute('id');

        if(top >= offset && top < offset + height) {
        navLinks.forEach(links => {
            links.classList.remove('active');
            document.querySelector('header nav a[href*=' + id + ']').classList.add('active');
        });
    };
    });
};

        </script>

    </body>
        
     <!--   <script type="text/javascript" src="{% static 'website/js/materialize.js' %}"></script>
    cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js
-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>

      
</html>