{% extends 'website/base.html' %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

<style>
  #map { height: 600px; }
</style>
{% endblock %}


{% block content %} 
<h2>Map</h2>


<div id="map"></div>
  
{% endblock %}



{% block javascript %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>


<script>
  var map = L.map('map').setView([47.37, 8.54], 13);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiZGF2aG9mZXIiLCJhIjoiY2wxMG1iNDUxMDJ3dTNjcW53ZTJhMjlhZCJ9.4j5XTNUJ114VhVl6jvYLhg'
}).addTo(map);


var x = parseFloat('{{ marker_coord.0 }}');
var y = parseFloat('{{ marker_coord.1 }}');
var marker = L.marker([x,y]).addTo(map);



var circle = L.circle([47.363, 8.538], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(map);

var polygon = L.polygon([
    [47.375, 8.55],
    [47.368, 8.539],
    [47.372, 8.541]
]).addTo(map);

marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
circle.bindPopup("I am a circle.");
polygon.bindPopup("I am a polygon.");
var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);


</script>
{% endblock %}